.nonSel {
    background-color: aqua;
    height:80px;
    width: 80px;

}

.select {
    background-color: blue;
    height:80px;
    width: 80px;
}

.option-populte{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

